* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  #root {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    }


body {
  width: 100%;
  font-family: Arial, sans-serif;
  background: #f5f5f5;

  padding: 50px; 
}

main {
  width: 75%;
  max-width: 800px;   
  max-height: 710px;      
  display: flex;
  flex-direction: column; 
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task-input {
  flex: 1;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f0f0f0;
  color: black;
}

.search-input {
  width: 100%;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f0f0f0;
  color: black;
}

.task-input:focus,
.search-input:focus {
  outline: none;
  border-color: #6c63ff;
}

.filter-section {
  display: flex;
  gap: 10px;
  margin: 25px;
}

.filter {
  flex: 1;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 35px;
  background: #8a84ff;
  font-size: 14px;
}

.filter:hover {
  background: #6c63ff;
  border: 2px solid #ddd;
}

button {
  transition: all 0.4s ease;
  background-color: #6c63ff;
  padding: 12px 24px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

ul {
  list-style: none;
}

li {
  background: #f8f5f5fa;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #6c63ff;
}

li span {
  font-size: 18px;
}

li span.achived{
  text-decoration: line-through;
  color: #8a8989; 
}

.action-section {
  display: flex;
  gap: 8px;
}

.icon-btn {
  background: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.icon-btn {
  color: #cfcaca;
}


.icon-btn:hover {
  opacity: 0.7;
}


@media (max-width: 600px) {
   .input-section {
    flex-direction: row;
    gap: 8px;
  }

  .task-input,
  .search-input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
  .filter-section {
    flex-direction: column;
    gap: 8px;
    margin: 15px 0;
  }

  .filter {
    flex: 1;
    padding: 8px;
    font-size: 12px;
  }

}